{% extends 'base.html' %}
{% block title %} REGISTER {% endblock %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="container">

    <div class="col-12 px-1">

        <div class="row d-flex align-items-center py-5 justify-content-center h-min-100vh">
            <div class="col-md-12">
                <div class="bg-gray px-3 px-sm-4 p-md-5 shadow white-bg">
                    <div class="text-center">

                        <h3 class="text-center text-bolder text-dark">ADD A NEW INVESTOR</h3>
                        <small class="text-center"> fields marked (*) are mandatory </small>
                    </div>
                    <br>
                    {% if form.errors %}
                    {% for field in form %}
                    {% for error in field.errors %}
                    <div class="alert alert-error">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    <div class="alert alert-error">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endif %}


                    <form method="POST" enctype="multipart/form-data"
                        class="bg-white text-dark shadow-md rounded px-8 pt-6 pb-8 mb-4">
                        {% csrf_token %}

                        <div class="row mb-2">
                            <div class="col-8 col-md-6 card shadow-none">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                    for="{{ investor_user_form.first_name.id_for_label }}">
                                    {{ investor_user_form.first_name.label }}
                                </label>
                                {{ investor_user_form.first_name }}
                                {% if investor_user_form.first_name.errors %}
                                {% for error in investor_user_form.first_name.errors %}
                                <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                                {% endfor %}
                                {% endif %}
                            </div>

                            <div class="col-8 col-md-6 card shadow-none">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                    for="{{ investor_user_form.last_name.id_for_label }}">
                                    {{ investor_user_form.last_name.label }}
                                </label>
                                {{ investor_user_form.last_name }}
                                {% if investor_user_form.last_name.errors %}
                                {% for error in investor_user_form.last_name.errors %}
                                <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-8 col-md-6 card shadow-none">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                    for="{{ investor_user_form.email.id_for_label }}">
                                    {{ investor_user_form.email.label }}
                                </label>
                                {{ investor_user_form.email }}
                                {% if investor_user_form.email.errors %}
                                {% for error in investor_user_form.email.errors %}
                                <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-8 col-md-6 card shadow-none">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                    for="{{ investor_form.phone_number.id_for_label }}">
                                    {{ investor_form.phone_number.label }}
                                </label>
                                {{ investor_form.phone_number }}
                                {% if investor_form.phone_number.errors %}
                                {% for error in investor_form.phone_number.errors %}
                                <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-8 col-md-6 card shadow-none">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                    for="{{ investor_form.phone.id_for_label }}">
                                    {{ investor_form.phone.label }}
                                </label>
                                {{ investor_form.phone }}
                                {% if investor_form.phone.errors %}
                                {% for error in investor_form.phone.errors %}
                                <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-8 col-md-6 card shadow-none">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                    for="{{ investor_form.sex.id_for_label }}">
                                    {{ investor_form.sex.label }}
                                </label>
                                {{ investor_form.sex }}
                                {% if investor_form.sex.errors %}
                                {% for error in investor_form.sex.errors %}
                                <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-8 col-md-6 card shadow-none">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                    for="{{ investor_form.country_to_invest.id_for_label }}">
                                    {{ investor_form.country_to_invest.label }}
                                </label>
                                {{ investor_form.country_to_invest }}
                                {% if investor_form.country_to_invest.errors %}
                                {% for error in investor_form.country_to_invest.errors %}
                                <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-8 col-md-6 card shadow-none">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                    for="{{ investor_form.state.id_for_label }}">
                                    {{ investor_form.state.label }}
                                </label>
                                {{ investor_form.state }}
                                {% if investor_form.state.errors %}
                                {% for error in investor_form.state.errors %}
                                <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-8 col-md-6 card shadow-none">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                    for="{{ investor_form.city.id_for_label }}">
                                    {{ investor_form.city.label }}
                                </label>
                                {{ investor_form.city }}
                                {% if investor_form.city.errors %}
                                {% for error in investor_form.city.errors %}
                                <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-8 col-md-6 card shadow-none">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                    for="{{ investor_form.city.id_for_label }}">
                                    {{ investor_form.zip_code.label }}
                                </label>
                                {{ investor_form.zip_code }}
                                {% if investor_form.zip_code.errors %}
                                {% for error in investor_form.zip_code.errors %}
                                <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <p><input class="btn btn-dark btn-large" type="submit" value="ADD"></p>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}